.soft-box {
  border-radius: 5px;
  box-shadow: 7px 8px 14px -6px rgba(0, 0, 0, 0.64);
}
.gradient-diagonal {
  background: -webkit-linear-gradient(45deg, #ffffff 0%, #f1f1f1 50%, #f6f6f6 100%);
  background: -moz-linear-gradient(45deg, #ffffff 0%, #f1f1f1 50%, #f6f6f6 100%);
  background: linear-gradient(45deg, #ffffff 0%, #f1f1f1 50%, #f6f6f6 100%);
}
.gradient {
  background: -webkit-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #fefefd;
  color: #56534c;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin: 1rem 1.5rem;
}
h1 {
  font-size: 2em;
  margin: 0.67em 1.9rem;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  line-height: 3.35rem;
  text-align: center;
  margin-top: 1.5rem;
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.64);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.64);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.64);
}
h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-style: italic;
  line-height: 1.875rem;
  text-align: center;
  font-weight: 700;
}
a {
  text-decoration: none;
}
.container {
  max-width: 97em;
  width: 100%;
  margin: 0 auto;
}
/*------------------------*HEADER------------------------------*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  overflow: hidden;
  background: url(../img/honey2.jpg) no-repeat;
  background-position: center;
  -ms-background-size: cover;
  background-size: cover;
}
.logo {
  width: 11%;
}
/*-----responsive-menu---------------*/
.burger-menu {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.burger {
  position: absolute;
  background: #e29e19;
  width: 100%;
  height: 10px;
  top: 50%;
  right: 0px;
  margin-top: -5px;
  opacity: 1;
}
.burger::before {
  position: absolute;
  background: #e29e19;
  width: 50px;
  height: 10px;
  top: 20px;
  content: "";
  display: block;
}
.burger::after {
  position: absolute;
  background: #e29e19;
  width: 50px;
  height: 10px;
  bottom: 20px;
  content: "";
  display: block;
}
.burger::before:hover,
.burger::after:hover {
  background-color: #b47e14;
}
.burger::after,
.burger::before,
.burger {
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.burger-menu.menu-on .burger::after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  bottom: 0px;
}
.burger-menu.menu-on .burger::before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 0px;
}
.burger-menu.menu-on .burger {
  background: rgba(111, 111, 111, 0);
}
.mobile-menu {
  display: none;
  border-radius: 5px;
  box-shadow: 7px 8px 14px -6px rgba(0, 0, 0, 0.64);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  top: 2rem;
  left: -15rem;
  background-color: rgba(97, 97, 97, 0.93);
  width: 18rem;
  position: absolute;
  height: auto;
  -webkit-animation: showme 0.7s;
  -moz-animation: showme 0.7s;
  animation: showme 0.7s;
}
.mobile-menu-on {
  display: block;
}
@-webkit-keyframes showme {
  50% {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
  }
}
@-moz-keyframes showme {
  50% {
    -webkit-transform: translateX(15%);
    -moz-transform: translateX(15%);
    transform: translateX(15%);
  }
}
@keyframes showme {
  50% {
    -webkit-transform: translateX(15%);
    -moz-transform: translateX(15%);
    transform: translateX(15%);
  }
}
.mobile-menu li {
  list-style: none;
  margin: 2rem 0.9rem;
}
.mobile-link {
  position: relative;
  text-decoration: none;
  color: #e2dfdd;
  line-height: 1.2rem;
  font-size: 1rem;
}
.mobile-link::after {
  display: none;
  border-radius: 5px;
  box-shadow: 7px 8px 14px -6px rgba(0, 0, 0, 0.64);
  position: absolute;
  content: "";
  width: 90%;
  height: 2px;
  background-color: #fff;
  bottom: -3px;
  left: 5px;
}
.mobile-link:hover::after {
  display: block;
}
/*---------------main-menu---------------*/
.header-nav {
  background-color: rgba(97, 97, 97, 0.54);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}
.main-menu li {
  list-style: none;
  display: inline-block;
  padding: 0 0.5rem;
  position: relative;
}
@media screen and (max-width: 900px) {
  .main-menu li {
    padding: 0 0.1rem;
  }
}
.main-link {
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.64);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.64);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.64);
  color: #fff;
  padding: 0.5rem;
  line-height: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  position: relative;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
@media screen and (max-width: 720px) {
  .main-link {
    font-size: 1rem;
    padding: 0.1rem;
  }
}
.sub-link {
  color: #333;
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.64);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.64);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.64);
}
.main-link:hover {
  color: #fff;
}
.main-link::after {
  display: none;
  border-radius: 5px;
  box-shadow: 7px 8px 14px -6px rgba(0, 0, 0, 0.64);
  position: absolute;
  content: "";
  width: 90%;
  height: 2px;
  background-color: #fff;
  bottom: -3px;
  left: 5px;
}
.main-link:hover::after {
  display: block;
}
.main-link:active {
  color: #1565c0;
}
.main-menu li:nth-child(2):hover .sub-nav {
  visibility: visible;
  color: #333333;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition-delay: 0s, 0s, 0.3s;
  -moz-transition-delay: 0s, 0s, 0.3s;
  transition-delay: 0s, 0s, 0.3s;
}
/*---------sub-menu-------------*/
.sub-nav {
  border-radius: 5px;
  box-shadow: 7px 8px 14px -6px rgba(0, 0, 0, 0.64);
  top: 32px;
  background-color: rgba(97, 97, 97, 0.52);
  left: 10px;
  padding-left: 0px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  display: inline-block;
  min-width: 7rem;
  z-index: 2;
  visibility: hidden;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  -moz-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.sub-link {
  color: #fefefd;
  font-weight: 600;
  font-size: 1.2rem;
}
.sub-nav li {
  padding: 0.5rem 0.3rem;
}
.sub-nav li:hover {
  background-color: rgba(97, 97, 97, 0.54);
}
/*-----------Social-icons-hexagon--------------------*/
.hexagon-wrapper {
  width: 65px;
  height: 65px;
  text-align: center;
  margin: 20px;
  position: relative;
  display: inline-block;
}
@media screen and (max-width: 1032px) {
  .hexagon-wrapper {
    margin: 10px;
  }
}
@media screen and (max-width: 962px) {
  .hexagon-wrapper {
    margin: 2px;
  }
}
@media screen and (max-width: 890px) {
  .hexagon-wrapper {
    width: 45px;
    height: 45px;
  }
}
.hexagon {
  background-color: #e29e19;
  height: 100%;
  width: 57.735%;
  display: inline-block;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #e29e19;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
.hexagon:hover {
  box-shadow: inset 0 100px 0 0 #b47e14;
}
.hexagon:before {
  position: absolute;
  top: 0;
  right: 21.1325%;
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.hexagon:after {
  position: absolute;
  top: 0;
  right: 21.1325%;
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.hexagon-wrapper .fa-facebook,
.hexagon-wrapper .fa-vk,
.hexagon-wrapper .fa-odnoklassniki {
  position: absolute;
  z-index: 2;
  font-size: 2rem;
  color: #fff;
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.64);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.64);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.64);
}
@media screen and (max-width: 890px) {
  .hexagon-wrapper .fa-facebook,
  .hexagon-wrapper .fa-vk,
  .hexagon-wrapper .fa-odnoklassniki {
    font-size: 1.8rem;
  }
}
.fa-vk {
  top: 25%;
  left: 20%;
}
.fa-facebook {
  top: 28%;
  left: 36%;
}
.fa-odnoklassniki {
  top: 23%;
  left: 34%;
}
/*-----------HEADER PROMO----------*/
.promo {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  margin: 12% 23%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  color: #f6f5f3;
  background-color: rgba(97, 97, 97, 0.39);
  border-radius: 5px;
  box-shadow: 7px 8px 14px -6px rgba(0, 0, 0, 0.64);
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.64);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.64);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.64);
}
.promo h3 {
  text-align: center;
  margin: 3.5rem;
}
.product-btn {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
  margin-bottom: 2rem;
  text-decoration: none;
  background-color: #e29e19;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  padding: 0.6rem 1.2rem;
  padding-bottom: 0.7rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 2px solid #b47e14;
  box-shadow: inset 0 100px 0 0 #e29e19;
  color: #FFF;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
.product-btn:hover {
  box-shadow: inset 0 0 0 0 #b47e14;
}
#aboutus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  color: rgba(97, 97, 97, 0.39);
}
@media screen and (max-width: 760px) {
  #aboutus {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
  }
}
.text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 36%;
  -webkit-flex: 1 1 36%;
  -moz-box-flex: 1;
  flex: 1 1 36%;
  margin: 1.5rem 3rem;
  padding: 0.1rem 1.2rem;
  color: #333;
}
@media screen and (max-width: 760px) {
  .text-block {
    max-width: 95%;
  }
}
.text-block p {
  color: #141e03;
  font-size: 1rem;
  font-weight: 500;
}
.text-block .annotation {
  color: #2e1401;
  font-size: 1.2rem;
  font-weight: 800;
}
.text-block .avatar {
  text-align: center;
  margin-bottom: 1.5rem;
}
.avatar img,
.distributer-card img {
  border-radius: 50%;
  width: 6.25rem;
  height: 6.25rem;
}
.avatar q {
  font-style: italic;
  font-size: 1.5rem;
}
.photo-block {
  padding: 0.5rem;
  max-width: 46%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 7px 8px 14px -6px rgba(0, 0, 0, 0.64);
}
@media screen and (max-width: 760px) {
  .photo-block {
    max-width: 95%;
  }
}
.photo {
  background: url("../img/img/photo7.jpg") no-repeat center;
  width: 100%;
  border-radius: 5px;
}
@media screen and (min-width: 760px) {
  .responce {
    max-width: 24%;
  }
}
@media screen and (min-width: 420px) {
  .responce {
    max-width: 48%;
  }
}
#assortment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}
.wrap-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  height: 100%;
}
.wrap-img {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 37%;
  -webkit-flex: 1 1 37%;
  -moz-box-flex: 1;
  flex: 1 1 37%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.product-img {
  width: 93%;
  margin: 1rem;
  height: auto;
  border-radius: 5px;
  box-shadow: 7px 8px 14px -6px rgba(0, 0, 0, 0.64);
}
.about-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 34%;
  -webkit-flex: 1 1 34%;
  -moz-box-flex: 1;
  flex: 1 1 34%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  margin: 0 2rem;
  margin-bottom: 0.2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  padding: 1rem 0.5rem;
  background: -webkit-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
}
.title-product {
  padding-bottom: 0.5rem;
  color: #36382f;
}
.annotation-product {
  margin-top: 0;
  color: #391401;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: italic;
  line-height: 1.6rem;
}
.describe-product {
  text-align: center;
  display: block;
  font-size: 1.2rem;
  color: #141e03;
}
.slider-doc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  margin-top: auto;
  position: relative;
}
.slider-doc img {
  width: 6.25rem;
  height: 6.25rem;
}
@media screen and (max-width: 416px) {
  .slider-doc img {
    width: 4.25rem;
    height: 4.25rem;
  }
}
/*-----------document---------*/
#quality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  background-color: #454859;
  color: #ffffff;
  padding: 3% 0.5%;
  width: 100%;
  background: url(../img/wood.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.wrap-doc-info {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 30%;
  -webkit-flex: 1 1 30%;
  -moz-box-flex: 1;
  flex: 1 1 30%;
  margin: 0.9rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.38);
  border-radius: 5px;
  box-shadow: 7px 8px 14px -6px rgba(0, 0, 0, 0.64);
  position: relative;
}
.wrap-doc-info .annotation {
  color: #263947;
  font-size: 1.2rem;
  font-weight: 800;
}
.doc-wrap {
  -webkit-box-flex: 1;
  -ms-flex: 1 2 100%;
  -webkit-flex: 1 2 100%;
  -moz-box-flex: 1;
  flex: 1 2 100%;
  margin: 0.9rem 2rem;
  height: auto;
  background-color: rgba(0, 0, 0, 0.54);
  border-radius: 5px;
  box-shadow: 7px 8px 14px -6px rgba(0, 0, 0, 0.64);
  position: absolute;
  top: 18%;
}
.attestate,
.sertificate,
.reward {
  display: none;
  width: 100%;
  height: auto;
  padding: 1rem;
}
.attestate img,
.sertificate img,
.reward img {
  width: 100%;
  height: 100%;
}
.name-document {
  font-size: 1.75rem;
  line-height: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  padding: 0.6rem 1.2rem;
  border-radius: 0.3rem;
  cursor: pointer;
  color: #263947;
  background: #FFF;
  border: 2px solid #263947;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  box-shadow: inset 0 0 0 0 #263947;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
.name-document:hover {
  box-shadow: inset 0 100px 0 0 #263947;
  color: #FFF;
}
.name-document:active {
  color: rgba(255, 246, 213, 0.4);
}
.about-document {
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.64);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.64);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.64);
  font-size: 1rem;
}
.document-show {
  display: block;
}
.doc-wrap .fa-times {
  cursor: pointer;
  right: 1px;
  top: 0;
  position: absolute;
  background-color: rgba(97, 97, 97, 0.39);
  color: #fff;
  padding: 0.5rem;
  font-size: 2rem;
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.64);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.64);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.64);
  border-radius: 5px;
  box-shadow: 7px 8px 14px -6px rgba(0, 0, 0, 0.64);
}
#distributers {
  background-color: #e3dfd6;
  background: url(../img/combback.jpg) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.wrap-list {
  background-color: rgba(81, 88, 102, 0.59);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40%;
  -webkit-flex: 1 1 40%;
  -moz-box-flex: 1;
  flex: 1 1 40%;
  margin: 0.9rem;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 7px 8px 14px -6px rgba(0, 0, 0, 0.64);
}
.where-buy {
  text-align: center;
  color: #ffe149;
}
.distributer-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  margin: 0.5rem 0;
  text-align: center;
}
.distributer-card h4 {
  color: #ffc650;
  line-height: 0.1rem;
  font-weight: 600;
}
.distributer-card p {
  font-size: 1.2rem;
  color: #fefefd;
  line-height: 1.8rem;
}
.city-avatar {
  width: 6.25rem;
  height: 6.25rem;
}
#distributers i {
  font-size: 1rem;
  padding-right: 1rem;
}
.map {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42.8125%;
  -webkit-flex: 1 1 42.8125%;
  -moz-box-flex: 1;
  flex: 1 1 42.8125%;
  margin: 0.9rem;
}
/*--------footer-----------*/
footer {
  background: url(../img/wood.jpg) no-repeat;
  background-position: 50% 15%;
  -ms-background-size: cover;
  background-size: cover;
}
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  overflow: hidden;
}
footer .social,
.contacts {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 30%;
  -moz-box-flex: 1;
  -ms-flex: 1 1 30%;
  flex: 1 1 30%;
  border-radius: 5px;
}
footer .social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 1rem;
}
footer p {
  font-size: 1rem;
  color: #ffffff;
}
footer .logo {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 48%;
  -moz-box-flex: 1;
  -ms-flex: 1 1 48%;
  flex: 1 1 48%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
footer i {
  font-size: 1.5rem;
  padding-right: 1rem;
}
/*----------MEDIA QUARIES------------------*/
@media screen and (max-width: 1024px) {
  #distributers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
  }
}
@media screen and (max-width: 840px) {
  .map {
    width: 96%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0;
  }
  h2 {
    font-size: 1.5rem;
  }
  .promo {
    text-align: center;
    width: 90%;
    margin: 8rem 2rem;
  }
  .wrap-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .wrap-img {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}
@media screen and (max-width: 650px) {
  .main-menu li {
    padding: 0 0.2rem;
  }
  .text-block {
    width: 90%;
  }
  #aboutus {
    width: 100%;
  }
  #assortment {
    width: 100%;
    padding: 0;
  }
  .wrap-block {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .wrap-img {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    flex-grow: 1;
    width: 96%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .product-img {
    margin: 0 1rem;
  }
}
@media screen and (max-width: 632px) {
  .header-nav {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .logo {
    width: 23%;
    margin-left: 2rem;
  }
  .social {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -moz-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .doc-wrap {
    top: 13px;
    right: -14px;
    width: 93%;
  }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  body {
    margin: 0;
  }
  .container {
    width: 100%;
    margin: 0;
  }
  .header-nav {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  .main-menu {
    display: none;
  }
  .logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    order: 1;
    width: 25%;
    margin: 0;
  }
  .social {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    -webkit-order: 0;
    -moz-box-ordinal-group: 1;
    order: 0;
  }
  .burger-menu {
    display: block;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    order: 2;
  }
  .promo {
    margin: 0.5rem;
  }
  .text-block {
    margin: 0;
  }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
